/*
Css Reset
From:https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  width: 250px;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
    max-width: 66ch;
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*Styles*/

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('./fonts/CourierPrime.woff2') format('woff2'),
        url('./fonts/CourierPrime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root{
    --link-color: #E5E7EB;
    --invalid-color:red
}
body{
    font-family: 'Courier Prime';
    
}
.container{
    display: flex;
}
.background
{
    height: 100vh;
    width: 100%;
}
.right
{
    padding-left: 30px;
    padding-top: 10vh;
    width: 66vw;
    font-size: 0.9rem;
}
ul
{
    padding: 0;
}
li
{
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;

}
.right-side-form >ul>li{

    margin-right: 20px;
}
.left
{
    position: relative;
    text-align: center;
    height: 100vh;
    min-width: 45%;
}
.logo
{
    padding: 10px;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 50%;
    height: 120px;
    transform: translateX(-50%);
    top: 15%;
    display: flex;
    justify-content: center;
    
}
.sign-up
{
    font-weight:bolder;
}
.logo-img
{
    height: 100px;
}
.left .logo-text
{
   color: white;
   font-size: 7rem;
   font-family: 'Norse',sans-serif;
   text-align: center;
   top: 50%;
   transform: translateY(-30%);
}
.credits
{   
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
    text-align: center;
    transform: translateX(-50%);
    font-size: 0.7rem;
}
.logo-text
{
    font-weight: bold;
}
.input{
    display: flex;
    border-bottom: 3px solid lightgray;
    border-right: 3px solid lightgrey;
}
label{
    position: absolute;
    top: -20px;
    font-size: 0.8rem;
}
button
{
    background-color: #596D48;
    appearance: none;
    border-radius: 12px;
    color: white;
    font-weight: bolder;
    
}
.existing-user
{
    margin-top: 8px;
}
.existing-user>a:link
{
    color: olive;
}
.form-div{
    margin-top: 10vh;
}
.logo-div
{
    max-width: inherit;
}

input[type="text"],input[type="email"],input[type="tel"],input[type="password"]
{
    border: 2px solid var(--link-color);
}

input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="password"]:focus
{
    border:2px solid  #0880f1;
    outline: none;
    box-shadow: 0 3px 2px rgb(32, 184, 211);
    border-radius: 5px;
}
.form-button
{
    margin-top: 30px;
}
button{

    padding: 10px;
    margin-bottom: 15px;
}
button:hover
{
    box-shadow: 2px 2px 3px greenyellow;
}

input[type="text"]:invalid,input[type="email"]:invalid,input[type="tel"]:invalid,input[type="password"]:invalid
{
    border: 2px solid var(--invalid-color);
}
.left a:link
{
    color: white;
    text-decoration: underline;
}

input[type="text"]:not(:focus):invalid,input[type="email"]:not(:focus):invalid,input[type="tel"]:not(:focus):invalid,input[type="password"]:not(:focus):invalid
{
    border: 2px solid var(--link-color);
}

input[type="text"]:not(:placeholder-shown):not(:focus):invalid,input[type="email"]:not(:placeholder-shown):invalid,input[type="tel"]:not(:placeholder-shown):invalid,input[type="password"]:not(:placeholder-shown):not(:focus):invalid
{
    border: 2px solid var(--invalid-color);
}